node_modules/**
package-lock.json
**.db

**.thumb.jpg

server/server.crt
server/server.csr
server/server.key
server/settings.txt
server/**.js
build/**.js
model/**.js
i18n/**/*.js

views/info/**/*.html
i18n/*/views/info/**/*.html
views/*/*.js
views/*.js


