<!DOCTYPE html>
<html>
	<head>
		<link href="/lobby.css" type="text/css" rel="stylesheet" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lobby: Twilight Sparkle's Secret Shipfic Folder Online</title>

		<meta name="twitter:card" content="summary" />
		<meta property="og:title" content="Join TSSSF Game">
		<meta property="og:description" content="You've been invited to play a game of Twilight Sparkle's Secret Shipfic Folder">
		<meta property="og:image" content="http://tsssf.net/img/tsssf-box.png">

		<meta property="og:url" content="http://www.tsssf.net">
		<meta property="og:type" content="website">
	
	</head>
	<body>
		<script type="module" src="/viewSelector.js"></script>
	</body>
</html>