@font-face {
	font-family: "Press Start 2P";
	src: url(/fonts/PressStart2P-Regular.ttf);
}

nav
{
	max-width: 800px;
	height: 30px;
	background-color: #E880B4;
	color: white;

	z-index: 2;
	margin: auto;
	margin-top: 5vh;
	position: relative;

	text-align: left;
}

/* Menu styles */

.mobileMenu {
	display: none; 
	padding-left: 25px;
}

nav a 
{
	padding: 5px;
	text-decoration: none;
}

nav a:hover
{
	background-color: #DF5399;
}

nav a, nav .hoverMenu
{
	display: inline-block;
	vertical-align: top;
	background-color: #E880B4; 
	color: white;
	
}

.hoverMenuExpand a
{
	display: block;
}

.hoverMenuExpand
{
	display: none;
	color: white;
	z-index: 2;
	background-color: #F06BA8;
}



.hoverMenu:hover .hoverMenuExpand
{
	display: block;
}

@media screen and (max-width: 600px)
{
	nav a, nav .hoverMenu
	{
		display: none;
	}

	nav
	{
		position: fixed;
		height:  30px;
		top: 0;
		left:  0;
		right:  0;
		margin-top: 0;
	}

	.mobileMenu {
		display: block;
		background-image: url(/img/menu.svg);
		background-repeat: no-repeat;
		background-size:  20px 20px;
		background-position: 5px 5px;
		height:  30px;
	}

	.mobileMenu a {display: inline-block; cursor: pointer}
	.mobileMenu a:hover {background-color: initial;}

	nav.open a, nav.open .hoverMenu, nav.open .hoverMenuExpand
	{
		display: block;
		width:  100% !important;
	}

	nav.open .hoverMenuExpand
	{
		padding-left:  20px;
		background-color: initial;
	}

	nav.open {
		height:  initial;
		position:  absolute;
	}
}

/* end menu styles */

html
{
	background-image: url(/img/tileBackground2.jpg);
	background-size: 40%;
	margin: 0px;
}

body
{
	text-align: center;
}

.split
{
	
	display: flex;
	flex-direction: row;

	justify-content: center;
	vertical-align: middle;
}

#left{
	width: 500px;
	background-color: white;
}
#right
{
	/*width: 500px;*/
	background-color: white;
}

.gameFont {font-family: "Press Start 2P";}


img
{
	width: 300px;
}

button
{
	font-size: 15pt;
	margin: 10px;
	padding: 10px 20px
}

footer
{
	margin: auto;
	padding: 20px 0px;
	max-width: 800px;
	background-color: white;
}

.languages img
{
	height: 30px;
	width: 30px;
	border: solid 2px white;
	border-radius: 10px;
}

.selected  img { border-color: #0074E8; }

.footerLinks img
{
	height: 30px;
	width: 30px;
}


.footerLinks a > *
{
	vertical-align: middle;
}

.footerLinks a
{
	text-decoration: none;
	color: black;
	margin: 0px 20px;
}



@media screen and (max-width: 600px)
{
	.split
	{
		display: block;
	}

	#left,#right,footer
	{
		background-color: rgba(255,255,255,.5);
	}

	#left
	{
		width: 100%;
	}

	#right img
	{
		width: 50%;
	}

	.footerLinks a
	{
		display: block;
	}

	#left h1
	{
		margin-top: 30px;
	}
}