<!DOCTYPE html>
<html>
	<head>
		<meta encoding='utf-8' />

		<title>Twilight Sparkle's Secret Shipfic Folder Online</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="twitter:card" content="summary" />
		<meta property="og:title" content="Twilight Sparkle's Secret Shipfic Folder Online">
		<meta property="og:description" content="Play and host TSSSF games through the magic of the internet">
		<meta property="og:image" content="http://tsssf.net/img/tsssf-box.png">
		<meta property="og:url" content="http://www.tsssf.net">
		<meta property="og:type" content="website">	
		<link href="/home.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

		<nav>
			{{NavTemplate}}
		</nav>
		<div class='split'>
			<div id="left">
				<h1>Twilight Sparkle's<br>Secret Shipfic Folder<br><span class='gameFont'>Online</span></h1>
				<h2>Beta 0.12.2</h2>
				<div>
					<!--div><button onclick="join()">Join Game</button></div-->
					<div><button onclick="host()">{{HomepageHostGame}}</button></div>
				</div>
				<p>
					<span class='languages'>
						<a id='select:en-US' href="/?lang=en-US"><img src="/img/lang/en-US.png" /></a>
						<a id='select:es-ES' href="/?lang=es-ES"><img src="/img/lang/es-ES.png" /></a>
						<!--<a href="/?lang=zz-ZZ">Test Lang</a>-->
						<input id="lang" type="hidden" value="{{Lang}}"/>
						<script>
							let lang = document.getElementById('lang').value;
							document.getElementById("select:" + lang).classList.add('selected');
						</script>
					</span><br>
					<span>{{HomepageTranslatedBy}}</span>
				</p>
			</div>
			<div id='right'>
				<img src="/img/tsssf-box.png">
			</div>
		</div>
		
		<footer>
			<div class='footerLinks'>
				<a href="http://www.secretshipfic.com/">
					<img id='shipficlogo' src='/img/shipficWebsiteLogo.png' />
					<span>{{HomepageAboutTheGame}}</span>
				</a>
				<a href="https://github.com/brambleshadow4/tsssf-online">
					<img src="/img/GitHub.png" />
					<span>{{HomepageSourceCode}}</span></a>
				<a href="https://discord.gg/WQVBUgv">
					<img src='/img/discord.svg' />
					<span>{{HomepageSubmitBug}}</span>
				</a>
				<a href="https://discord.me/kefentse">
					<img src='/img/discord.svg' />
					<span>{{HomepageFindPlayers}}</span>
				</a>
			</div>
		</footer>
	
		<script>
			function host()
			{
				console.log();
				window.location.href = "/host"
			}

			function join()
			{
				window.location.href = "/join"
			}

			window.onkeypress = function(e)
			{
				if(e.key == "`")
				{
					localStorage.playerID=  "1";
					window.location = "/game?DEV";
				}
			}
		</script>
	</body>
</html>