
body
{
	display: flex;

	flex-direction: row;

	justify-content: center;
	height: 100%;

}


h2{
	margin: 0;
}

.main
{
	min-width: 600px;

	padding: .5in;

	border: solid 3px black;

	display: flex;
}

.playerArea
{
	margin-left: 20px;
	padding-left: 20px;
	border-left: solid 2px black;
	width: 200px;
}

#startButtonArea
{
	margin-top: 30px;
}
.off
{
	display: none;
}

.chooseAName
{
	margin-top: 30px;
}

input
{
	width: 100%;
	padding: 5px;
}

button
{
	font-size: 14pt;
}