<div class='mobileMenu' onclick="toggleOpen(this.parentNode)"><a>Menu</a></div>
<a href="/">TSSSF.net</a>
<div class='hoverMenu' style='width: 140px'>
	<a href="#">Playing the Game</a>
	<div class='hoverMenuExpand'>
		<a href="/info/rulebook">Rulebook</a>
		<a href="/info/faq">FAQ</a>
		<a href="/info/cardlist">Card Reference</a>
		<a href="/info/addYourOwnCards">Adding your own cards</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="#">Finding Players + Community</a>
	<div class='hoverMenuExpand'>
		<a href="http://www.secretshipfic.com/">Official Website</a>
		<a href="https://childrenofkefentse.com/">Children of Kefentse</a>
		<a href="https://discord.me/kefentse">Children of Kefentse Discord</a>
		<a href="https://www.reddit.com/r/secretshipfic/">/r/secretshipfic</a>
		<a href="https://www.reddit.com/r/shipficmatchmaking/">/r/shipficmatchmaking/</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="/info/resources">Other Resources</a>
	<div class='hoverMenuExpand'>
		<a href="/info/resources#card-vendors">Buy the cards</a>
		<a href="/info/resources#make-your-own-cards">Make your own cards</a>
		<a href="/info/resources#card-assets">Card Assets</a>
		<a href="/info/resources#other-implementations">Other TSSSF Implementations</a>
	</div>
</div>