<!DOCTYPE html>
<html>
	<body>
		<h1>Stats</h1>

		<table>
			<tr>
				<th></th><th>Players joined</th><th>Games started</th>
			</tr>
			<tr>
				<td>Right now</td><td>$1</td><td>$2</td>
			</tr>
			<tr>
				<td>Last hour</td><td>$3</td><td>$4</td>
			</tr>
			<tr>
				<td>Last 24 hours</td><td>$5</td><td>$6</td>
			</tr>
			<tr>
				<td>Week</td><td>$7</td><td>$8</td>
			</tr>
			<tr>
				<td>Month</td><td>$9</td><td>$A</td>
			</tr>
			<tr>
				<td>All time</td><td>$B</td><td>$C</td>
			</tr>
			
		</table>

	</body>
</html>