
	<!DOCTYPE html>
	<html>
		<head>
			<meta encoding='utf-8' />
			<title>Twilight Sparkle's Secret Shipfic Folder Online</title>

			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="twitter:card" content="summary" />
			<meta property="og:title" content="Twilight Sparkle's Secret Shipfic Folder Online">
			<meta property="og:description" content="Play and host TSSSF games through the magic of the internet">
			<meta property="og:image" content="http://tsssf.net/img/tsssf-box.png">
			<meta property="og:url" content="http://www.tsssf.net">
			<meta property="og:type" content="website">

			<link href="/info/style.css" type="text/css" rel="stylesheet"/>
			<link href="/info/highlight.min.css" type="text/css" rel="stylesheet" />

			<script src="/sectionLinks.js"></script>
			<script src="/info/highlight.min.js"></script>

			<script>
				function inIframe () {
					try {
						return window.self !== window.top;
					} catch (e) {
						return true;
					}
				}
				if(!inIframe())
				{
					document.head.innerHTML += `
		<style>
		body
		{
			background-image: url(/img/tileBackground2.jpg);
			background-size: 40%;
		}

		.main
		{
			border: solid 2px black;
			background-color: white;
			margin-top: 40px;
		}
		nav {display: block}
		</style>
	`
				}

				function toggleOpen(element)
				{	
					if(element.classList.contains('open'))
						element.classList.remove('open');
					else
						element.classList.add('open');
				}

			</script>

		</head>
		<body>
			<nav>
				<div class='mobileMenu' onclick="toggleOpen(this.parentNode)"><a>Menu</a></div>
<a href="/">TSSSF.net</a>
<div class='hoverMenu' style='width: 140px'>
	<a href="#">Playing the Game</a>
	<div class='hoverMenuExpand'>
		<a href="/info/rulebook">Rulebook</a>
		<a href="/info/faq">FAQ</a>
		<a href="/info/cardlist">Card Reference</a>
		<a href="/info/addYourOwnCards">Adding your own cards</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="#">Finding Players + Community</a>
	<div class='hoverMenuExpand'>
		<a href="http://www.secretshipfic.com/">Official Website</a>
		<a href="https://childrenofkefentse.com/">Children of Kefentse</a>
		<a href="https://discord.me/kefentse">Children of Kefentse Discord</a>
		<a href="https://www.reddit.com/r/secretshipfic/">/r/secretshipfic</a>
		<a href="https://www.reddit.com/r/shipficmatchmaking/">/r/shipficmatchmaking/</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="/info/resources">Other Resources</a>
	<div class='hoverMenuExpand'>
		<a href="/info/resources#card-vendors">Buy the cards</a>
		<a href="/info/resources#make-your-own-cards">Make your own cards</a>
		<a href="/info/resources#card-assets">Card Assets</a>
		<a href="/info/resources#other-implementations">Other TSSSF Implementations</a>
	</div>
</div>
			</nav>
			<div id='main' class='main'>
				<p idf="">This FAQ is based off of a <a href='https://docs.google.com/document/d/1lA0GZiFDUfcaLKOJ7M4ob15_Utkrl8iWF_UXNzj5SzU/edit#'>public FAQ document</a>
released by Horrible People.</p><p idf="">It has been reorganized to (hopefully) be easier to navigate in this web version. Every question has been tagged
so that questions about any specific card/concept can be found by shift-clicking the card in game or by
searching for that card in the <a href='/info/cardlist'>Card Reference</a> page. This page, with all the questions laid out
in a single document, is for legacy purposes.</p><p idf="">Any ways tsssf.net deviates from this FAQ will be signified with <del>strike through text</del> and <ins>inserted text</ins></p><span id="table-of-contents" style="position: relative; top: -20px"></span><h1 idf="table-of-contents">Table of Contents</h1><div class='level1'><a href="#table-of-contents">Table of Contents</a></div>
<div class='level1'><a href="#mechanics-concepts">Mechanics + Concepts</a></div>
<div id='target-toc-mechanics' ></div>
<div class='level1'><a href="#specific-cards">Specific Cards</a></div>
<div id='target-toc-cards'></div>
<span id="mechanics-concepts" style="position: relative; top: -20px"></span><h1 idf="mechanics-concepts">Mechanics + Concepts</h1><div id='target-mechanics' ></div>
<span id="specific-cards" style="position: relative; top: -20px"></span><h1 idf="specific-cards">Specific Cards</h1><div id='target-cards'></div>
<script type="module" src="./faq2.js"></script>

			</div>
			<script>
				if(inIframe())
				{
					let thispage = window.location + "".split("#")[0];
					let links = document.getElementsByTagName('a');
					for(let i=0; i < links.length; i++)
					{
						if(!links[i].href.startsWith(thispage))
						{
							links[i].setAttribute("target", "_blank");
						}
					}
				}
			</script>
		</body>
	</html>