.main
{
	max-width: 800px;
	margin: auto;
	background-color: white;
	padding: 0 .5in .5in .5in;
	font-family: Arial;
}

.level2 { padding-left: 20pt }
.level3 { padding-left: 40pt }


ins { color: green; }
del {color: red; }

.question:before {
	content:  "Q: ";
}

.question
{
	font-weight: bold;
	padding-left:  40pt;
}

.answer:before {
	content: "A: ";
	font-weight: bold;
}

.answer {
	margin-bottom: 20px;
	padding-left: 40pt;
}

.question-section
{
	color: #7721ad;
}


/* Menu styles */
nav
{
	display: none;
	position: fixed;
	left:  0;
	right:  0;
	top: 0;
	height: 30px;
	background-color: #E880B4; 
	color: white;

	z-index: 2;
}

.mobileMenu {
	display: none;
	padding-left: 25px;
	vertical-align: top;
}

nav a 
{
	padding: 5px;
	text-decoration: none;
}

nav a:hover
{
	background-color: #DF5399;
}

nav a, nav .hoverMenu
{
	display: inline-block;
	vertical-align: top;
	background-color: #E880B4; 
	color: white;
	
}

.hoverMenuExpand a
{
	display: block;
}

.hoverMenuExpand
{
	display: none;
	color: white;
	z-index: 2;
	background-color: #F06BA8;
}



.hoverMenu:hover .hoverMenuExpand
{
	display: block;
}

@media screen and (max-width: 600px)
{
	nav a, nav .hoverMenu
	{
		display: none;
	}

	.mobileMenu {
		display: block;
		background-image: url(/img/menu.svg);
		background-repeat: no-repeat;
		background-size:  20px 20px;
		background-position: 5px 5px;
		height:  30px;
	}

	.mobileMenu a {display: inline-block; cursor: pointer}
	.mobileMenu a:hover {background-color: initial;}

	nav.open a, nav.open .hoverMenu, nav.open .hoverMenuExpand
	{
		display: block;
		width:  100% !important;
	}

	nav.open .hoverMenuExpand
	{
		padding-left:  20px;
		background-color: initial;
	}

	nav.open {
		height:  initial;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

/* end menu styles */


h1, h2
{
	border-bottom: solid 1px black;
}


pre, code
{
	-moz-tab-size: 4;
	tab-size: 4;
}

th
{
	border-bottom: solid 1px black;
}

img
{
	width: 100%;
}

.inset
{
	padding-left: 30px;
}

.hidden{visibility: hidden;}

.text-root { color: green; }
.text-namespace { color: blue; }
.text-cardtype { color: purple; }
.text-cardkey {color: orange; }

table,tr,td
{
	border-collapse: collapse;
	vertical-align: top;
}

table
{
	margin: 0px 40px;
	background-color: #F0F0F0;
}

td
{
	padding: 2px;
	padding-left: 7px;
}

tr.alt, div.alt
{
	background-color: #E0E0E0;
}

.hangingIndent
{
	display: flex;
}

.function-doc
{
	padding: 10px;
	background-color: #F0F0F0;
}

.figure > div
{
	margin: auto;
}

.figure table
{
	margin: auto;
}

@media print
{
	nav{
		position: absolute;
		display: none !important
	}
	
	.main {
		border: none !important;
	}
}

