.main
{
	max-width: 800px;
	margin: auto;
	background-color: white;
	padding: 0 .5in .5in .5in;
}

/* Menu styles */
nav
{
	display: none;
	position: fixed;
	left:  0;
	right:  0;
	top: 0;
	height: 30px;
	background-color: #F06BA8;
	color: white;

	z-index: 2;
}

nav a 
{
	padding: 5px;
	text-decoration: none;
}

nav a:hover
{
	background-color: #ed4593;
}

nav a, nav .hoverMenu
{
	display: inline-block;
	vertical-align: top;
	background-color: #F06BA8;
	color: white;
	
}

.hoverMenuExpand a
{
	display: block;
}

.hoverMenuExpand
{
	display: none;
	background-color: #F06BA8;
	color: white;
	z-index: 2;
}

.hoverMenu:hover .hoverMenuExpand
{
	display: block;
}


h1, h2
{
	border-bottom: solid 1px black;
}


pre, code
{
	-moz-tab-size: 4;
	tab-size: 4;
}

th
{
	border-bottom: solid 1px black;
}

img
{
	width: 100%;
}

.inset
{
	padding-left: 30px;
}

.hidden{visibility: hidden;}

.text-root { color: green; }
.text-namespace { color: blue; }
.text-cardtype { color: purple; }
.text-cardkey {color: orange; }

table,tr,td
{
	border-collapse: collapse;
	vertical-align: top;
}

table
{
	margin: 0px 40px;
	background-color: #F0F0F0;
}

td
{
	padding: 2px;
	padding-left: 7px;
}

tr.alt, div.alt
{
	background-color: #E0E0E0;
}

.hangingIndent
{
	display: flex;
}

.function-doc
{
	padding: 10px;
	background-color: #F0F0F0;
}

.figure > div
{
	margin: auto;
}

.figure table
{
	margin: auto;
}

@media print
{
	nav{
		position: absolute;
		display: none !important
	}
	
	.main {
		border: none !important;
	}
}