/**
	Z indexes
	
	6: giant card;
	5: card select popup
	4: animated card moving
	3: shuffle buttons, hand drop zone, offset pony cards, help buttons
	2: pony + goal cards
	1: ship cards
 */


#playingArea
{
	background-color: #AAAAFF;

	position: absolute;

	bottom: 20%;
	left: 29vh;
	right: 0px;
	top: 0px;

	overflow: hidden;

	cursor: move;
}

#topToolbar
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;

	display: flex;
	flex-direction: row;

	z-index: 3;
}

#playerList
{
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 12pt;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#actionButtons
{
	flex-grow: 0;
	flex-shrink: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;

}

#actionButtons img
{
	width: 3vh;
	height: 3vh;

	cursor: pointer;
}


#hand-pony, #hand-ship
{
	height: 100%;
	vertical-align: top;
}


#playingArea .card.blank
{
	display: none;
}

.card.blank
{
	cursor: unset;
}

#playingArea.draggingShip .ship.blank
{
	display: inline-block;
}


#playingArea.draggingPony .pony.blank
{
	display: inline-block;
}

#hand
{
	position: relative;
}

#hand
{
	min-width: calc(100vw - 50vh);
	height: 20vh;
	vertical-align: middle;
}

.player
{
	margin: 0px 10px;
}

.ponyCount { background-image: url(/img/Pony-Back.png); }
.shipCount { background-image: url(/img/Ship-Back.png); }
.goalCount { background-image: url(/img/Goal-Back.png); }

.ponyCount, .shipCount, .goalCount
{
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	color: white;
	height: 3vh;
	min-width: 2vh;
	display: inline-block;
	text-align: center;
}




#sidebar
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 20%;

	width: 29vh;
}




body
{
	margin: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	font-size: 0;
	vertical-align: middle;

	overflow: hidden;
}

button
{
	font-size: 12pt;
	margin-bottom: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.card
{
	height: 18vh;
	width: 13vh;

	background-image: url(/img/blank.svg);
	background-position: center; 
	background-size: cover;

	margin-top: 1vh;
	margin-left: 1vh;

	z-index: 2;
	cursor: pointer;

	display: inline-block;

	border-radius: 5px;

	box-sizing: border-box;
	user-select: none;
	vertical-align: middle;

	position: relative;
}

#playingArea .card
{
	margin: 0;
	position: absolute;
	user-select: none;
}


.checkboxContainer
{
	margin-bottom: 10px;
}
.checkboxContainer label
{	cursor: pointer;
}


.card.pony, .card.pony.flying
{
	background-image: url(/img/Pony-Back.png);
}

.card.ship, .card.ship.flying
{
	background-image: url(/img/Ship-Back.png);
	z-index: 1;
}

.card.goal, .card.goal.flying
{
	background-image: url(/img/Goal-Back.png);
}

.card.blank
{
	background-image: url(/img/blank.svg);
}


.card[src]
{
	background-image: attr(src);
}

.card.sideways
{
	transform: rotate(90deg);
	z-index: 0;
}


#cardRow
{
	position: absolute;
	bottom: 0px;
	height: 20%;
	left: 0px;
	right: 0px;
	white-space: nowrap;

	width: 100%;

	overflow-x: auto;
	overflow-y: hidden;

	background-color: white;
}

.nomove #cardRow, .nomove #sidebar
{
	background-color: #C8C8C8;
}

.nomove .shuffle, .nomove .card.grab, .nomove .card{
	cursor: not-allowed;
}

#cardRow  div
{
	display: inline-block;
}

#cardRow > .divider
{
	height: 18vh;
	margin-left: 2vh;
	margin-right: 1vh;

	border-left: solid 3px black;
	vertical-align: middle;
}

.card.grab
{
	cursor: grab; 
}


#refPoint
{
	width: 0;
	height: 0;
}


.currentPlayer
{
	background-color: gold;
}

.shuffle
{
	width: 5vh;
	position: relative;
	top: 7.5vh;
	left: -2vh;
	cursor: pointer;
	vertical-align: middle;
	z-index: 3;
}

.shuffleContainer
{
	width: 0;
	height: 18vh;
	display: inline-block;
	vertical-align: middle;
}



#turnInfo
{
	font-size: 12pt;
	margin-top: 3vh;
	text-align: center;
}


.disconnected
{
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
	color: red;
}


.popup
{
	font-size: initial;
	border: solid 2px black;
	z-index: 5;
	background-color: white;
	overflow-y: auto;

	overflow: visible;
}
.popup.normal
{
	position: absolute;
	top: 10vh;
	bottom: 10vh;
	left: 10vh;
	right: 10vh;
	text-align: left;
}

.popup.mini
{
	margin-top: 10vh;
	position: relative;
	display: inline-block;
}

#popupCloseButton
{
	width: 10vh;
	height: 10vh;
	top: -4vh;
	right: -4vh;
	z-index: 6;

	position: absolute;
	cursor: pointer;
}

.popupTabs
{
	position: absolute;
	bottom: calc(100%);
	display: flex;
	flex-direction: row;
}

.popupTabs > div:first-child
{
	margin-left: 20px;
}

.popupTabs > div
{
	border: solid 2px black;
	margin-left: 10px;
	

	background-color: white;
	cursor: pointer;
	padding: 6px;
	align-self: flex-end;
}

.popupTabs > div.selected
{
	border-bottom: solid 2px white;
	padding: 10px;
}

.popupPage
{
	padding: 20px;
	box-sizing: border-box;
}

.popupPage > *:first-child
{
	margin-top: 0px;
}

#popupContent
{
	overflow-y: auto;
	height: 100%;
}

.popupContainer
{
	width: 100%;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
	box-sizing: content-box;

}


#takeGoal
{
	position: absolute;
	bottom: 1vh;
	right: 1vh;
}

#winnings
{
	position: absolute;
	bottom: 0vh;
	right: 0vh;
}

#winnings .returnArrow
{
	display: none;
	width: 5vh;
	z-index: 5;
	margin-right: 1vh;
	margin-bottom: 1vh;
	position: relative;
	cursor: pointer;
}
#winnings:hover .returnArrow
{
	display: inline-block;
}

iframe
{
	position: absolute;
	border: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	height: 100%;
	width: 100%;
}

#help
{
	display: none;
}

.helpGif
{
	height: 30vh;
}

.tiles
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tiles > div
{
	margin: 0px 20px 40px 20px;
	text-align: center;
	width: 45%;
	min-width: 30vh;
}

.key
{
	font-family: monospace;
	border: solid 1px black;
	background-color: #AAAAAA;
	padding: 0px 5px;
}


.changeling
{
	animation-name: changeling;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	filter: hue-rotate(180deg);
	border-radius: 5px;

	position: absolute;
	top: 0px;
	left: 0px;
}

.symbol.decoration
{
	width: 5vh;
	height: 5vh;
	padding: .7vh;
	z-index: 1;
	position: relative;
}

.keywords.decoration
{
	font-size: 2vh;
	position: absolute;
	bottom: 1vh;
	left: 0px;
	right: 0px;
	background-color: white;
	text-align: center;
}

.raceButton
{
	width: 10vh;
	height: 10vh;
	cursor: pointer;
	margin-top: 1vh;
	margin-left: 1vh;
	border-radius: 5vh;
}

.raceButtonContainer
{
	vertical-align: middle;
}

.raceButtonContainer > *
{
	vertical-align: middle;
}

.popupPage .selected
{
	box-shadow: 0 0 8px 8px blue;
}


.card.achieved
{
	box-shadow: 0 0 8px 8px green;
}

.buttonDescription
{
	margin-left: 20px;
}


@keyframes changeling {
  0% {opacity: 0}
  25% {opacity: 1}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity: 0}
}

.noLogic
{
	height: 1vw;
	width: 1vw;
	position: absolute;
	bottom: .5vh;
	right: .3vw;
}