/**
	Z indexes
	
	6: giant card, search results
	5: card select popup
	4: animated card moving
	3: shuffle buttons, hand drop zone, offset pony cards, help buttons
	2: pony + goal cards
	1: ship cards
 */

:root {

	--giantCardZLevel: 20;
	--abovePopupZLevel: 16;
	--popupZLevel: 15;
	--animatedCardZLevel: 10;


	--controls2ZLevel: 7;
	--dragControlsZLevel: 6;
	--controlsZLevel: 6;
	--cardRowZLevel: 6;


	--sidebarZLevel: 5;


	--offsideZLevel: 4;
	--offsetCardsZLevel: 3;
	
	--cardsZLevel: 2;
	--shipCardsZLevel: 1;
	

}


#playingArea
{
	background-color: #AAAAFF;

	position: absolute;

	bottom: 20%;
	left: 29vh;
	right: 0px;
	top: 0px;

	overflow: hidden;

	cursor: move;
}

#topToolbar
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;

	display: flex;
	flex-direction: row;

	z-index: var(--controlsZLevel);
}

#playerList
{
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 12pt;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#actionButtons
{
	z-index: var(--controlsZLevel);
}

#actionButtons img
{
	width: 25px;
	height: 25px;

	cursor: pointer;
}


#hand-pony, #hand-ship
{
	height: 100%;
	vertical-align: top;
}


#playingArea .card.blank
{
	display: none;
}

#removeUnconnectedCards
{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: var(--controlsZLevel);
}

#tableOffside
{
	padding-top: 20px;
	position: absolute;

	top: 0px;
	bottom: 20%;

	right: calc(100% - 29vh);
	z-index: var(--offsideZLevel);
	
	width: calc(80% - 29vh);
	background-color: white;

	transition-property: right;
	transition-duration: .5s;
}

#tableOffsideBody
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#expandOffside
{
	position: absolute;
	height: 40px;
	top: calc(50% - 20px);
	right: -20px;
	width: 20px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	cursor: pointer;

}

#expandOffside img 
{
	width: 100%;
	margin-top: 10px;
}

#tableOffside:not(.open) #expandOffside.achieved
{
	box-shadow: 0 0 1.6vh 1.6vh green;
}

#tableOffside.open
{
	right: 20%;
	
}

#tableOffside.open #expandOffside img 
{
	transform: rotateZ(180deg);
}

#tableOffside h2 {
	font-size: initial;
}


body.cardsUnapproved .card.custom
{
	background-image: none !important;
}

.card
{
	/*filter: grayscale(100%);*/
	user-drag: element;
	-khtml-user-drag: element;
}

.card.justPlayed
{
	box-shadow: 0 0 .8vh .8vh gold;
	/*filter: grayscale(0%);*/
}

.card.blank
{
	cursor: unset;
}

.card.achieved
{
	box-shadow: 0 0 1.6vh 1.6vh green;
}


.card.dragAccept
{
	box-shadow:  0 0 8px 8px blue;
}

#playingArea.draggingShip .ship.blank
{
	display: inline-block;
}




#playingArea.draggingPony .pony.blank
{
	display: inline-block;
}

#hand
{
	position: relative;
}

#hand
{
	min-width: calc(100vw - 50vh);
	height: 20vh;
	vertical-align: middle;
}

.player
{
	margin: 0px 10px;
}

.ponyCount { background-image: url(/img/Pony-Back.png); }
.shipCount { background-image: url(/img/Ship-Back.png); }
.goalCount { background-image: url(/img/Goal-Back.png); }
.pointCount { background-image: url(/img/sym/points.png); }

.ponyCount, .shipCount, .goalCount, .pointCount
{
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	color: white;
	width: 15px;
	display: inline-block;
	text-align: center;
}


#sidebar
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 20%;

	z-index: var(--sidebarZLevel);

	width: 29vh;
	background-color: white;
}


body
{
	margin: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	font-size: 0;
	vertical-align: middle;

	overflow: hidden;
}

button, input
{
	font-size: 12pt;
	margin-bottom: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

input[type="number"]
{
	width: 50px;
	cursor: auto;
}

.card
{
	height: 18vh;
	width: 13vh;

	background-image: url(/img/blank.svg);
	background-position: center; 
	background-size: cover;

	margin-top: 1vh;
	margin-left: 1vh;

	z-index: var(--cardsZLevel);
	cursor: pointer;

	display: inline-block;

	border-radius: .7vh;

	box-sizing: border-box;
	user-select: none;
	vertical-align: middle;

	position: relative;
}
.card.flying, .card.ship.flying
{
	z-index: var(--animatedCardZLevel);
}

#playingArea .card
{
	margin: 0;
	position: absolute;
	user-select: none;
}


.checkboxContainer
{
	margin-bottom: 10px;
}
.checkboxContainer label
{	cursor: pointer;
}


.card.pony, .card.pony.flying
{
	background-color: #87599A;
	background-image: url(/img/Pony-Back.png);
}

.card.ship
{
	background-color: #C9305D;
	background-image: url(/img/Ship-Back.png);
	z-index: var(--shipCardZLevel);

}

.card.pony.shippos
{
	z-index: var(--shipCardsZLevel);
}

.card.start
{
	background-color: #3E3F3E;
}

.card.goal, .card.goal.flying
{
	background-color: #039AD0;
	background-image: url(/img/Goal-Back.png);
}

.card.blank
{
	background-color: transparent;
	background-image: url(/img/blank.svg);
}


.card[src]
{
	background-image: attr(src);
}

.card.sideways
{
	transform: rotate(90deg);
	z-index: var(--shipCardsZLevel); /*might be wrong*/
}

.cardActionButton
{
	position: absolute;
	bottom: 0px;
	z-index: var(--cardsZLevel);
}

.desktopmobileswitch.desktop .mobile {display: none;}
.desktopmobileswitch.mobile .desktop {display: none;}

.switchlink
{
	margin-top: 10px;
	text-align: center;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}


.goalDrawIcon
{
	position: absolute;
	top: 6.5vh;
	left: 4vh;
	width: 5vh;
	height: 5vh;
}

#cardRow
{
	position: absolute;
	bottom: 0px;
	height: 20%;
	left: 0px;
	right: 0px;
	white-space: nowrap;

	width: 100%;

	z-index: var(--cardRowZLevel);

	overflow-x: auto;
	overflow-y: hidden;

	background-color: white;
}

.nomove #cardRow, .nomove #sidebar, .nomove #tableOffside, .nomove #expandOffside
{
	background-color: #C8C8C8;
}

.nomove .shuffle, .nomove .card.grab, .nomove .card{
	cursor: not-allowed;
}

.nomove .card.interrupt, .nomove .card.interrupt.grab 
{
	cursor: grab;
}

#cardRow  div
{
	display: inline-block;
}

#cardRow > .divider
{
	height: 18vh;
	margin-left: 2vh;
	margin-right: 1vh;

	border-left: solid 3px black;
	vertical-align: middle;
}

.card.grab
{
	cursor: grab; 
}

#giantCard
{
	z-index: var(--giantCardZLevel);
}


#refPoint
{
	width: 0;
	height: 0;
}


.currentPlayer
{
	background-color: gold;
}

.shuffle
{
	width: 5vh;
	position: relative;
	top: 7.5vh;
	left: -2vh;
	cursor: pointer;
	vertical-align: middle;
	z-index: var(--controlsZLevel);
}

.shuffleContainer
{
	width: 0;
	height: 18vh;
	display: inline-block;
	vertical-align: middle;
}



#turnInfo
{
	font-size: 12pt;
	margin-top: 3vh;
	text-align: center;
}


.disconnected
{
	text-decoration: line-through;
	text-decoration-thickness: 0.2em;
	color: red;
}


.popup
{
	font-size: initial;
	border: solid 2px black;
	z-index: var(--popupZLevel);
	background-color: white;
	overflow-y: auto;

	overflow: visible;

	max-height: 80%;
}
.popup.normal
{
	position: absolute;
	top: 10vh;
	bottom: 10vh;
	left: 10vh;
	right: 10vh;
	text-align: left;
}

.popup.mini
{
	margin-top: 10vh;
	position: relative;
	display: inline-block;
	overflow-y: auto;
}

#popupCloseButton
{
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.popupTabs > .closeButtonTab
{
	padding: 0px;
	font-size: 0;
	position: absolute;
	right: 10px;

}

.popupTabs
{
	position: absolute;
	bottom: calc(100%);
	display: flex;
	flex-direction: row;
	width: 100%;
}

.popupTabs > div:first-child
{
	margin-left: 20px;
}

.popupTabs > div
{
	border: solid 2px black;
	margin-left: 10px;
	

	background-color: white;
	cursor: pointer;
	padding: 6px;
	align-self: flex-end;
}

.popupTabs > div.selected
{
	border-bottom: solid 2px white;
	padding: 10px;
}


.popupTitleBar
{
	text-align: left;
	background-color: #d9d9d9;
	display: flex;
}
.popupTitleBar > *
{
	display: inline-block;
	flex-wrap: nowrap;
	vertical-align: middle;
	height: 32px;
	font-size: 0pt;
}

.popupTitleBarTitle
{
	margin-left: 10px;
	margin-right: 20px;
	font-size: 12pt;
	line-height: 32px;
	flex-grow: 0;
	flex-shrink: 0;
}

.popupTitleBarCenter
{
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
}


.keywordButtons
{
	max-width: 40vw;
	margin-top: 20px;
}

/* Card Search Component */

.cardSearchBar
{
	display: flex;
	font-size: 12pt;
	width: 100%;

	position: relative;
}
.cardSearchBar input
{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0px;
	padding: 0px;
	height: calc(100% - 10px);
	width: 200px;
	flex-grow: 0;
	flex-shrink: 0;
}
.csbSearchSuggestions
{
	font-size: 12pt;
	width: 200px;
	position: absolute;
	z-index: var(--abovePopupZLevel);
	background-color: white;

	box-sizing: border-box;

	top: 25px;
	left: 0px;
}

.defFilter {background-color: #d9ffb3;}
.packFilter, .typeFilter {background-color: #ffcc99; }
.nameFilter, .countFilter {background-color: #BD97C5; }
.actionFilter {background-color: #ffff99; }
.goalLogicFilter, .pointsFilter {background-color: #00AEEF; }
.altTimelineFilter {background-color: #B61F24; color:  white}
.genderFilter { background-image:  linear-gradient(to right, #E00E77, #00AEEF); color: white}
.titleFilter { background-color: #CCC; }

.csbClearFilter
{
	height: 20px;
	width: 20px;
	cursor: pointer;
}



.csbSearchSuggestions > div
{
	margin: 3px;
	cursor: pointer;
}




/*
	#ccddff - keyboard select
	#99bbff - mouse hover
*/
.csbSearchSuggestions > div:hover, .csbSearchSuggestions >div.selected:hover
{
	background-color: #99bbff;	
}

.csbSearchSuggestions >div.selected
{	
	background-color: #ccddff;
}


.csbActiveFilters
{
	white-space: nowrap;
	min-width: 0;
	flex-shrink: 1;
	overflow: hidden;
	display: inline-block;
	flex-grow: 1;
}

.csbActiveFilters div
{
	display: inline-block;

	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	margin: 6px 5px;
}
.csbActiveFilters div > *
{
	display: inline-block;
	vertical-align: middle;
}

/* end card search component */

.popupPage
{
	padding: 20px;
	box-sizing: border-box;
}

#popupContent
{
	overflow-y: auto;
	height: calc(100% - 32px);
}

.popupWithTabs #popupContent
{
	height: calc(100%);
}

.popupContainer
{
	width: 100%;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
	box-sizing: content-box;

}


.card:hover .goalCheck, .card.selected .goalCheck
{
	display: block;
}

.goalCheck
{
	display: none;
	position: absolute;
	bottom: 1vh;
	right: 1vh;
}

#winnings
{
	position: absolute;
	bottom: 0vh;
	right: 0vh;
}

#winnings .score
{
	display: inline-block;
	position: absolute;
	text-align: center;
	bottom: 1vh;
	width: 13vh;
	right: 0vh;
	height: 24pt;
	z-index: var(--controlsZLevel);
	font-weight: bold;
	color: #EB0687;
	font-size: 24pt;
}

#winnings .returnArrow
{
	display: none;
	width: 5vh;
	z-index: var(--controls2ZLevel);
	margin-right: 1vh;
	margin-bottom: 1vh;
	position: relative;
	cursor: pointer;
}

#winnings:hover .returnArrow, #winnings.selected .returnArrow
{
	display: inline-block;
}

#winnings.selected .card:last-child
{
	box-shadow: 0 0 8px 8px blue;
}


.pointAmountPopup
{
	margin-top: 10px;
}

iframe
{
	position: absolute;
	border: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	height: 100%;
	width: 100%;
}

#help
{
	display: none;
}

.helpGif
{
	height: 30vh;
}

.tiles
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tiles > div
{
	margin: 0px 20px 40px 20px;
	text-align: center;
	width: 45%;
	min-width: 30vh;
}

.key
{
	font-family: monospace;
	border: solid 1px black;
	background-color: #AAAAAA;
	padding: 0px 5px;
}


.changeling
{
	animation-name: changeling;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	filter: hue-rotate(180deg);
	border-radius: 5px;

	position: absolute;
	top: 0px;
	left: 0px;
}

.symbol.decoration
{
	width: 5vh;
	height: 5vh;
	padding: .7vh;
	z-index: 1;
	position: relative;
}

.keywords.decoration
{
	font-size: 2vh;
	position: absolute;
	bottom: 1vh;
	left: 0px;
	right: 0px;
	background-color: white;
	text-align: center;
}

.raceButton
{
	width: 10vh;
	height: 10vh;
	cursor: pointer;
	margin-top: 1vh;
	margin-left: 1vh;
	border-radius: 5vh;
}

.raceButtonContainer
{
	vertical-align: middle;
}

.raceButtonContainer > *
{
	vertical-align: middle;
}

.card.selected
{
	box-shadow: 0 0 8px 8px blue;
}

.raceButton.selected
{
	box-shadow: 0 0 8px 8px blue;
}

.buttonDescription
{
	margin-left: 20px;
}

.no-top-margin
{
	margin-top: 0px;
}


@keyframes changeling {
	0% {opacity: 0}
	25% {opacity: 1}
	50% {opacity: 1}
	75% {opacity: 0}
	100% {opacity: 0}
}

.noLogic
{
	height: 2.5vh;
	width: 2.5vh;
	position: absolute;
	bottom: .4vh;
	right: .5vh;
}

@media only screen and (max-height: 400px)
{
	#turnInfo
	{
		font-size: 3vh;
		margin-top: 0;
	}

	#turnInfo button
	{
		padding: 0px;
		font-size: 3vh;
	}
}