
.main
{
	padding: .5in;
	border: solid 3px black;

	width: 100%;

	max-height: calc(100vh - 100px);
	box-sizing: border-box;

	overflow-y: auto;
	
	margin-top: 50px;
	margin-bottom: 50px;

	display: block;



	background-color: white;

	text-align: initial;
}

#rightSide
{
	text-align: center;
	position: absolute;

	top: 0px;
	left: 242px;
	bottom: 0px;
	right: 0px;

	background-image: url(/img/tileBackground2.png);
	background-size: 40%;
	margin: 0px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.center
{
	height: 100%;
	width: 800px;
	position: relative;
}

.playerArea
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
		
	width: 200px;
	background-color: white;
	border-right: solid 2px black;
	padding: 20px;
}

#startButtonArea
{
	margin-top: 30px;
}


.bothMargins
{
	margin-top: .83em
}

input[type='text']
{
	width: 300px;
	padding: 5px;
}

input
{
	vertical-align: top;
}

label
{
	cursor: pointer;
	display: inline-block;
}


button
{
	font-size: 14pt;
}

h2
{
	font-size: 20pt;
	margin-top: 0px;
}

.main > div
{
	margin-bottom: 28px;
}


#joinGameInfo {display: none;}
#chooseName {display: none;}
#gameOptionsInfo {display: none;}
#chooseCardsInfo {display: none;}
#closedLobby { display: none;}


.pageJoin #chooseName {display: block;}
.pageJoin #joinGameInfo {display: block;}
.pageOptions #gameOptionsInfo {display: block;}
.pageCards #chooseCardsInfo {display: block;}
.pageClosed #closedLobby { display: block;}

.pageJoin.registered #chooseName {display: none;}

.startButtonArea {display: none;}
.mobileOnly.startButtonArea {display: none;}
.host .registered .startButtonArea {display: block;}
.host .registered .mobileOnly.startButtonArea {display: none;}

.startButtonArea {
	margin: 10px 0px;
}


.host .popupTabs {display: flex;}
.popupTabs
{
	display: none;
	position: absolute;
	bottom: calc(100% - 50px - 3px);
	flex-direction: row;
	z-index: 1;
}


.mobileOnly { display: none; }

.innerMain
{
	flex-grow: 1;
	flex-shrink: 1;

	display: block;
}




.popupTabs > div
{
	border: solid 3px black;
	margin-left: 10px;
	
	/*border-bottom: none;*/

	background-color: white;
	cursor: pointer;
	padding: 6px;
	align-self: flex-end;
}

.popupTabs > div.selected
{
	border-bottom: solid 3px white;
	padding: 10px;
}


.cardSelect-header
{
	font-size: 14pt;
	display: flex;
	align-items: center;
}

.bar
{
	flex-grow: 1;
	height: 2px;
	background-color: black;
	margin: 0px 5px;
}
.close .collapse
{
	height: 20px;
	width: 20px;
	background-image: url("/img/ios-arrow-forward.svg");
}

.open .collapse
{
	height: 20px;
	width: 20px;
	background-image: url("/img/ios-arrow-down.svg");
}

.name, .collapse
{
	cursor: pointer;
}

.cardSelect-header
{
	margin: 2px 0px;
}
.cardSelect-header button
{
	background-color: white;
	border: solid 2px gray;
	color: gray;
	margin: 2px;
}



.cardSelect-header button.selected
{
	border: solid 2px #0074E8;
	background-color: #0074E8;
	color: white;
}

.cardSelect-body
{
	margin-left: 20px;
}
.close .cardSelect-body
{
	display: none;
}

.card
{
	/*13 x 18*/
	height: 126px;
	width: 91px; 
	margin: 4px;
	display: inline-block;

	background-position: center; 
	background-size: cover;
}

.card .shield
{
	width: 100%;
	height: 100%;
}


.card.selected
{
	box-shadow: 0 0 4px 4px #0074E8;
}

.card.selected .shield
{
	background-color: rgb(0, 116, 232, .25);
}

.cardbox
{
	display: inline-block;
	margin: 5px;
	padding: 15px;
}

#chooseCardsInfo
{
	/*font-size: 0px;*/
}


.cardbox
{
	cursor: pointer;
	border: solid 2px white;
	position: relative;
	z-index: 1;
}
.cardbox img
{
	height: 170px;
	position: relative;
	z-index: 0;

	user-select: none;
}
.cardbox .shield
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;

	color: transparent;
}

.cardbox.selected .shield
{
	border: solid 2px #0066ff;
	border-radius: 10px;
	background-color: rgba(102, 163, 255, .5);
}

@media screen and (max-width: 700px)
{


	.mobileOnly { display: block; }

	.host .registered .mobileOnly.startButtonArea {display: block;}

	.playerArea, .host .popupTabs {
		display: none;
	}

	#mobilePlayerArea {
		margin-bottom: 20px;
	}

	.host #joinGameInfo {display: block;}
	.host #gameOptionsInfo {display: block;}
	.host #chooseCardsInfo {display: block;}

	#chooseName {display: block;}
	.registered #chooseName {display: none;}


	.pageClosed #closedLobby { display: block; }
	.pageClosed #joinGameInfo {display: none;}
	.pageClosed #gameOptionsInfo {display: none;}
	.pageClosed #chooseCardsInfo {display: none;}


	#rightSide
	{
		left: 0px;
	}

	.main
	{
		max-width: 100%;
		margin: 0px;
		border: none;
		max-height: 100%;
	}
}