<!DOCTYPE html>
<html>
	<head>
		<link href="/lobby.css" type="text/css" rel="stylesheet" />

	</head>
	<body>

		<div class='main'>
			<div id='tabs' class="popupTabs off">
				<div id='joinGameTab' onclick='joinGameTab()' class="selected">Join Game</div>
				<div id='gameOptionsTab' onclick="gameOptionsTab()">Game Options</div>
				<div id='chooseCardsTab' onclick="chooseCardsTab()">Choose cards</div>
			</div>
			<div class='innerMain'>
				<div id='joinGameInfo'>
					<p>Invite other players to join with this link</p>
					<input type="text" id='inviteURL' readonly />

					<div id='chooseName'>
						<h2 class='chooseAName'>Choose a name</h2>
						<input type='text' id='playerName' maxlength="20" />
						<button onclick='register();'>Join</button>
					</div>
				</div>

				<div class='off'  id='gameOptionsInfo'>
					<h2>Rule Enforcement</h2>
					<div><input type='radio' name='gamerules' disabled><label>Full rules - Coming soon!</label></div>
					<div><input type='radio' name='gamerules' disabled><label>Turns only - Coming soon!</label></div>
					<div><input type='radio' name='gamerules' checked><label>Sandbox</label></div>
				</div>

				<div class='off' id='chooseCardsInfo'>
					<h2>Expansions</h2>
					<div class='cardbox selected' id='Core-deck-select'>
						<div class='shield'></div>
						<img src="/img/core-box.png" />
					</div>
					<div class='cardbox' id='EC-deck-select'>
						<div class='shield'></div>
						<img src="/img/ec-box.png" />
					</div>
					<div class='cardbox' id='PU-deck-select'>
						<div class='shield'></div>
						<img src="/img/pu-box.png" />
					</div>
				</div>

				<div class="off" id='startButtonArea'>
					<button onclick="startGame();">Start Game</button>
				</div>
			</div>
			<div class='playerArea'>
				<h2>Players</h2>
				<div id='playerList'></div>
			</div>
		</div>

		<script src="/lobby.js"></script>
	</body>
</html>