<div class='hoverMenu' style='width: 140px'>
	<a href="#">Playing the Gamezz</a>
	<div class='hoverMenuExpand'>
		<a href="/info/rulebook">Rulebookzz</a>
		<a href="/info/faq">FAQzz</a>
		<a href="/info/addYourOwnCards">Adding your own cardszz</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="#">Finding Players + Communityzz</a>
	<div class='hoverMenuExpand'>
		<a href="http://www.secretshipfic.com/">Official Websitezz</a>
		<a href="https://childrenofkefentse.com/">Children of Kefentsezz</a>
		<a href="https://discord.me/kefentse">Children of Kefentse Discordzz</a>
		<a href="https://www.reddit.com/r/secretshipfic/">/r/secretshipficzz</a>
		<a href="https://www.reddit.com/r/shipficmatchmaking/">/r/shipficmatchmakingzz</a>
	</div>
</div>
<div class='hoverMenu'>
	<a href="/info/resources">Other Resourceszz</a>
	<div class='hoverMenuExpand'>
		<a href="/info/resources#card-vendors">Buy the cardszz</a>
		<a href="/info/resources#make-your-own-cards">Make your own cardszz</a>
		<a href="/info/resources#card-assets">Card Assetszz</a>
		<a href="/info/resources#other-implementations">Other TSSSF Implementationszz</a>
	</div>
</div>