<!DOCTYPE html>

<html><body>

<h1>Objectivezzzzz</h1>

While playing this game you will construct a labyrinth flowchart of relationships between Twilight and everypony else, competing to bend those relationships in the shape of Twilight's goals for the fanfic.

For each goal, you'll earn a number of points determined by the difficulty of that Goal card.

<h2>Winning Score</h2>
<table>
	<tr>
		<td>2-3 Players</td>
		<td>11 points</td>
	</tr>
	<tr>
		<td>4 players</td>
		<td>9 points</td>
	</tr>
	<tr>
		<td>5+ players</td>
		<td>7 points</td>
	</tr>
</table>


</body></html>