<!DOCTYPE html>

<html><body>

<h1>Objetivo</h1>

Mientras juegas a este juego, construirás un retorcido laberinto de relaciones entre Twilight y todos los demás Ponys, compitiendo deformando esas relaciones en la forma de los Goals de Twilight para el fanfic.

Por cada Goal, ganarás un número de puntos determinado por la dificultad de esa carta.

<h2>Puntos para ganar</h2> <!-- otras posibles traducciones -->
<table>
	<tr>
		<td>2-3 jugadores </td>
		<td>11 puntos</td>
	</tr>
	<tr>
		<td>4 jugadores </td>
		<td>9 puntos</td>
	</tr>
	<tr>
		<td>5+ jugadores </td>
		<td>7 puntos</td>
	</tr>
</table>

<h1>Ajustes</h1>

<ul>
	<li>Coloca la carta de Start ("Fanfic Author Twilight") en el centro de la mesa</li>
	<li>Separa y baraja los tres mazos: Ships, Goals y Ponys</li>
	<li>Coloca 3 cartas de Goal boca arriba sobre la mesa.</li>
	<li>Reparte a cada jugador una mano de 4 cartas de Pony y 3 cartas de Ship. ¡Puedes mirar, pero no mostrar!</li>
</ul>

<h1>En tu turno</h1>

<p>El juego comienza con el jugador a la izquierda del repartidor. Cada turno procede de la siguiente manera:</p>

<ol>
	<li>Juega al menos una carta de tu mano</li>
	<li>Al final de tu turno, roba o descarta hasta el límite de tu mano (normalmente 7) en cualquier combinación de Ships y Ponys. Debes terminar de robar antes de mirarlas. Si has ganado algún Goal, da la vuelta a los nuevos</li>
</ol>

<h1>Shippeo de Ponys, Poderes, etc.</h1>
<p>Para Shippear Ponys, coloca una carta de Ship hasta la mitad de una carta de Pony que ya esté en el tablero y coloca una carta de Pony encima de la mitad expuesta. Deja suficiente espacio entre los Ponys para que se vea que hay una carta de Ship de debajo. Un Pony puede tener 4 Ships adheridas: arriba, abajo, izquierda y derecha</p>

<p>El poder de un Pony se activa inmediatamente después de ser añadido al tablero desde la mano del jugador. La excepción es cualquier carta que diga "mientras esta carta está todavía en tu mano". El poder de un Pony puede afectarse a sí mismo a menos que se indique lo contrario en la carta. 

</p><p>Dos cartas de Pony que estén juntas pero no conectadas por una carta de Ship no se consideran Shippeadas. Colocar una carta de Ship entre ellas es una jugada válida.</p>

<p>Si alguna carta ya no está conectada a la red, debe ser descartada. Las cartas de Ship sin dos Ponys conectados deben ser descartadas</p>

<h1>Completar un Goal</h1>

<p>Si las condiciones de una carta de Goal ya se cumplen cuando se roba, esa carta de Goal va al fondo del mazo de Goals y se roba una nueva para reemplazarla.</p>

<p>En caso contrario, en el momento en que se cumplen las condiciones de un Goal, éste se consigue. Esto puede ocurrir antes de que se active el poder del Pony o después, pero no durante. Cuando se consigue un Goal, el jugador actual adquiere el Goal Ponyéndolo en la mesa frente a él, boca arriba.</p>

<p>Una carta de Pony cuenta para conseguir un Goal si el nombre, los símbolos y/o las keywords de la carta coinciden con los requisitos del Goal.</p>

<h1>La carta Start</h1> 

<p>La carta de Start no puede ser cambiada, removida o movida de ninguna manera de su posición inicial. Las cartas que especifican la carta de Start en su texto son excepciones a esta regla, como Derpy Hooves.</p>

<h1>Si se agota un mazo:</h1>

<p>Simplemente baraja la pila de descartes respectiva en el mazo. Sin embargo, si no hay una pila de descartes para barajar...</p>

<h1>Romper las notas de Twilight</h1>

<p>Si necesitas robar una carta pero no hay mazo ni pila de descartes, Twilight Sparkle se ha quedado sin ideas. Se frustra con sus notas y, en un arrebato de ira, destruye parte de su trabajo.</p>

<ol>
	<li>El jugador actual elige una carta de Ship del tablero y la descarta</li>
	<li>Descarta cualquier carta de Ship o Pony que ya no esté conectada con el resto del tablero.</li>
	<li>Baraja la(s) pila(s) de descarte recién creada(s) para crear un nuevo mazo, si éste estaba vacío</li>
	<li>El jugador actual roba del nuevo mazo. Si se agota antes de robar todas las cartas que necesita, ¡Se repite!</li>
</ol>

<h1>¡Algo es confuso!</h1>
<p>¡No temas! Primero asegúrate de revisar las reglas completas. Si todavía no estás seguro de las reglas en una determinada situación, discútelo con tus compañeros y crea una regla de la casa. A continuación, envíanos un comentario sobre lo que te haya confundido. ¡Siempre estamos dispuestos a encontrar más formas de hacer que TSSSF sea fácil &amp; divertida!</p>

<p>¡Ponte al día en nuestra web!</p>

<p>Para obtener respuestas a preguntas sobre las reglas y actualizaciones sobre futuras ediciones de Twilight Sparkle's Secret Shipfic Folder, visita nuestro sitio web  <a href="http://www.secretShipfic.com">http://www.secretShipfic.com</a></p>

<h1>¡Obtenga avances exclusivos!</h1>

<p>¿Te gusta TSSSF? ¿Quieres TSSSF más rápido? ¡Tenemos una oferta para ti! Apóyanos a través de Patreon y obtén avances de arte, livestreams privados, diarios de pruebas de juego y mucho más. Compruébalo en <a href="http://www.patreon.com/horriblepeople">http://www.patreon.com/horriblepeople</a></p>

</body></html>